<p class="{{ include.classes }}">
	The <a class="text-gold" href="/data-science"> Data Science Group</a> meets every {% include meta/meet/day.html day=site.meet.dsg.day %} at {% include meta/meet/time.html time=site.meet.dsg.time %}. Always in {% include meta/meet/room.html room=site.meet.dsg.room %}. {% include meta/meet/sched.html sched="data-science" %}
</p>

<p class="{{ include.classes }}">
    The <a class="text-gold" href="/intelligence"> Intelligence Group</a> meets every {% include meta/meet/day.html day=site.meet.ig.day %} at {% include meta/meet/time.html time=site.meet.ig.time %}. Always in {% include meta/meet/room.html room=site.meet.ig.room %}. {% include meta/meet/sched.html sched="intelligence" %}
</p>