---
layout:     page
title:      The Archive
permalink:  /archives/
---

<h1 class="h1"> {{ page.title }} </h1> <hr>
<div class="row">
  {% assign semesters = site.data.semesters.list | reverse %}
  <div class="col-3">
    <div class="list-group">
      {% for semester in semesters %}
        <a class="list-group-item list-group-item-action" href="#{{ semester }}"> {{ site.data.conv[semester] }} </a>
      {% endfor %}
    </div>
  </div>
  
  <div class="col-9">
    {% for semester in semesters %}
    <h2 id="{{ semester }}" class="h2 pt-2 pb-2"> {{ site.data.conv[semester] }} </h2> <hr>
    {% include modules/semester.html sem=semester %}
    {% endfor %}
  </div>
</div>
