[submodule "_hackpack"]
	path = _hackpack
	url = https://github.com/ucfsigai/hackpack.git
	branch = master
[submodule "_meetings"]
	path = _meetings
	url = https://github.com/ucfsigai/meetings.git
	branch = master
[submodule "_course"]
	path = _course
	url = https://github.com/ucfsigai/course.git
	branch = master