$font-base:  "Fira Sans", sans-serif !important;
$font-brand: "PT Sans", $font-base;
$font-code:  "Fira Code", sans-serif !important;

span, p, h1, h2, h3, h4, h5, h6, a, li, div, b, strong, i, em {
	font-family: $font-base;
}