---
layout: hackpack
title: Hackpack
---

<div class="alert alert-dark mt-1 mb-4">
  The Hackpack is here to help get acquainted with the field of artificial intelligence. We're continually building this out as times goes on and may even refine it further to provide the best resources possible. We have 5 categories (show above), which are: Papers, Novels, Textbooks, MOOCs, and Tutorials. These are further sub-divided into various types of each.
  <hr>
  <p class="mb-0">Here's the way to read our organization.</p>
  <div class="d-flex justify-content-around">
    <span class="btn btn-sm btn-outline-info border-papers text-dark">Papers</span>
    <span class="btn btn-sm btn-outline-info border-novels-nonfiction text-dark">Novels &ndash; Nonfiction</span>
    <span class="btn btn-sm btn-outline-info border-novels-fiction text-dark">Novels &ndash; Fiction</span>
    <span class="btn btn-sm btn-outline-info border-textbooks-general text-dark">Textbooks &ndash; General</span>
    <span class="btn btn-sm btn-outline-info border-textbooks-specific text-dark">Textbooks &ndash; Specific</span>
    <span class="btn btn-sm btn-outline-info border-moocs text-dark">MOOCS </span>
    <span class="btn btn-sm btn-outline-info border-tutorials-blogs text-dark">Tutorials &ndash; Blogs</span>
    <span class="btn btn-sm btn-outline-info border-tutorials-youtube text-dark">Tutorials &ndash; YouTube</span>
  </div>
</div>

<h2 class="h2"> Papers </h2> <hr>
{% include modules/hackpack-item.html
  list1=site.data.hackpack_papers.list
  type1="papers" %}

<h2 class="h2"> Novels </h2> <hr>
{% include modules/hackpack-item.html
  list1=site.data.hackpack_novels.nonfiction
  type1="novels-nonfiction"
  list2=site.data.hackpack_novels.fiction
  type2="novels-nonfiction" %}

<h2 class="h2"> Textbooks </h2> <hr>
{% include modules/hackpack-item.html
  list1=site.data.hackpack_textbooks.general
  type1="textbooks-general"
  list2=site.data.hackpack_textbooks.specific
  type2="textbooks-specific" %}

<h2 class="h2"> MOOCs </h2> <hr>
{% include modules/hackpack-item.html
  list1=site.data.hackpack_moocs
  type1="moocs" %}

<h2 class="h2"> Tutorials </h2> <hr>
{% include modules/hackpack-item.html
  list1=site.data.hackpack_tutorials.blogs
  type1="tutorials-blogs"
  list2=site.data.hackpack_tutorials.youtube
  type2="tutorials-youtube" %}
