<footer class="container-fluid bg-dark navbar-dark">
    
    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <a class="navbar-brand m-0 d-block" href="{{ site.baseurl }}">
                  <span class="ucfsigai-brand h1 pb-3 d-flex m-0"></span>
                </a>
                <div class="btn-group btn-group-lg d-flex">
                  {% capture gh %}{{ site.data.social.urls.gh }}{{ site.data.social.user.gh }}{% endcapture %}
                  <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="{{ gh }}">
                    <i class="fab fa-github" aria-hidden="true"></i>
                  </a>
                  {% capture yt %}{{ site.data.social.urls.yt }}{{ site.data.social.user.yt }}{% endcapture %}
                  <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="{{ yt }}">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                  </a>
                  {% capture fbg %}{{ site.data.social.urls.fbg }}{{ site.data.social.user.fbg }}{% endcapture %}
                  <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="{{ fbg }}">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  {% capture slack %}{{ site.data.social.urls.slack }}{{ site.data.social.user.slack }}{% endcapture %}
                  <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="{{ slack }}">
                    <i class="fab fa-slack" aria-hidden="true"></i>
                  </a>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                {% include meta/mission.html classes="text-muted" %}
                {% include meta/meet.html    classes="text-white" %}
            </div>
        </div>
    </div>

</footer>
