<header class="bg-dark d-flex flex-column sticky-top col-md-3 justify-content-between p-3" style="left: 0;">

  <nav class="navbar navbar-nav navbar-expand navbar-dark d-flex flex-column">
    <div class="navbar-nav">
      {% for li in site.data.nav.global %} {% assign lookup = page.url | remove: '/' %}
      <a class="nav-item nav-link{% if page.url contains li.url or (lookup == site.meta.semester and li.url == '/now') or (site.data.semesters.list contains lookup and lookup != site.meta.semester and li.url == '/archives') %} active{% endif %}"
        href="{{ li.url | prepend: site.baseurl }}">{{ li.title }}</a> {% endfor %}
    </div>
  </nav>

  <div class="container-fluid text-center">
    <a class="navbar-brand m-0" href="/" style="font-size: 3em;">
        <span class="sigai-brand">SIGAI<span>@UCF</span></span>
      </a>
    <p class="text-muted"> {{ site.meta.mission }} </p>
    <p class="text-white"> We meet just about every <span>{{ site.meta.meet_day }}</span> at <span>{{ site.meta.meet_time }}</span>. Always in <span>{{ site.meta.mtg_room }}</span>.
      (<a class="text-gold" href="/">Check the schedule here.</a>) </p>
  </div>

  <div class="btn-group btn-group-lg d-block mx-auto">
    <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="https://github.com/{{ site.social.gh }}">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="https://youtube.com/{{ site.social.yt }}">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="https://facebook.com/groups/{{ site.social.fbg }}">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    <a role="button" class="btn btn-transparent text-white" style="flex: 1;" href="https://acmatucf.slack.com/channel/sig_ai">
        <i class="fa fa-slack" aria-hidden="true"></i>
      </a>
  </div>

</header>
