<nav class="site-nav navbar navbar-expand-lg navbar-dark d-flex sticky-top">

    <a class="navbar-brand" href="/">
        <span class="ucfsigai-brand"></span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseable" aria-controls="navbarCollapseable" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="navbar-collapse d-lg-flex justify-content-end collapse" id="navbarCollapseable">
        <div class="navbar-nav">
            {% assign static = site.static | sort: 'priority' %}
            {% for li in static %}
                {% if li.priority %}
                    <a class="nav-item nav-link" href="{{ li.url | prepend: site.baseurl }}"> {{ li.title }} </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</nav>
