<div class="alert alert-dark">
    <h4 class="alert-heading">
        Welcome to <span class="ucfsigai-brand"></span>!
    </h4>
    <p>
        We’re on a mission to foster a hotspot for the next generation of
        artificial intelligence researchers and engineers at UCF.
    </p>
    <hr>
    <p class="text-white mb-0">
        We meet just about every
        <span class="text-gold">{{ site.data.meta.meet.day }}</span>
        at <span class="text-gold">{{ site.data.meta.meet.time }}</span>.
        Always in <span class="text-gold">{{ site.data.meta.meet.room }}</span>.
        (<a class="text-gold" href="/now">Check the schedule here.</a>)
    </p>
</div>
