ul.article-view {
  margin: 0;
  padding: 0;
  list-style: none;
  background: $background-color;
  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid darken($background-color, 10%);
    border-bottom: none;
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border: 1px solid darken($background-color, 10%);
      border-radius: 0 0 4px 4px;
    }
  }
}
