$base-font: 14px;
$base-unit: 1rem;

$color-bg: #404451;

html {
  font-size: $base-font;
  font-family: "Source Sans Pro", sans-serif !important;
  background: $color-bg;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
}

nav {
 min-height: 4rem;
}

main {
  min-height: calc(100vh - 5rem);
}

.sigai-brand {
  font-weight: bold;
  font-family: "PT Sans", sans-serif !important;
  color: #ffffff;
  span {
    color: #ffc904;
  }
}

.text-gold {
  color: #ffc904;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif !important;
  font-weight: bold !important;
}

.border-papers {
  border-color: #00b3ee;
}

.border-moocs {
  border-color: #3c5d5d;
}

.border-textbooks-specific {
  border-color: #20c997;
}

.border-textbooks-general {
  border-color: #e36209;
}

.border-tutorials-youtube {
  border-color: #ff5231;
}

.border-tutorials-blogs {
  border-color: #ffd33d;
}

.border-novels-nonfiction {
  border-color: #007bff;
}

.border-novels-fiction {
  border-color: #e83e8c;
}
