$base-font: 14px;
$base-unit: 1rem;

$color-bg: #404451;

html {
  font-size: $base-font;
  font-family: "Source Sans Pro", sans-serif !important;
  background: $color-bg;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
}

* {
  // color: #818b95;
  // color: #b2bac4;
}

body {
  color: #b2bac4;
  margin: 0;
}

nav {
  min-height: 4rem;
}

.site-nav {
  background-color: #1c2227!important;
}

main {
  min-height: calc(100vh - 5rem);
}

.text-gold {
  color: #ffc904!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif !important;
  font-weight: bold !important;
  color: #b2bac4;
}

.bg-sigai-dark {
  background: #2f3239;
}

.card-dark, .alert-dark {
  color: #b2bac4;
  background: #4c5056;
  border-color: #5d646c;
}

body.bg-sigai-dark {
  // .card {
  //   .card-header {
  //     background: #3e4247;
  //   }
  // }
}

hr {
  border-color: #3a3d43;
}

.navbar-toggler {
  border: 0;
  &:before {
    content: "menu";
    font-weight: bold;
    font-family: "PT-Sans", sans-serif;
  }
}
