div.syllabus {
  p {
    margin: 0;
  }

  img.meeting-banner {
    height: 108px;
  }

  .btn-notebook {
    color: #fff;
    background: #00bb67 !important;
  }

  .btn-facebook {
    color: #fff;
    background: #3b5998 !important;
  }

  .btn-youtube {
    color: #fff;
    background: #ff0000 !important;
  }
}
