{% assign type = include.type %}
<ul class="listing {{ type }}">
{% case type %}

{% when "novels" or
        "papers" or
        "textbooks" or
        "tutorials" or
        "videos" %}

  {% for item in include.iter %}

  {% comment %} logic {% endcomment %}

  {% capture title %}
    <h3 class="title">
      {% if item.url %}
        <i class="fa fa-external-link-square" aria-hidden="true"></i>
      {% endif %}
      <em> {{ item.title }} </em>
    </h3>
  {% endcapture %}

  {% capture author %}
    {% if item.author %}
      <p class="author">by {{ item.author }}</p>
    {% endif %}
  {% endcapture %}

  {% capture desc %}
    {% if item.desc %}
      <p class="desc"> {{ item.desc | remove: '"' }} </p>
    {% endif %}
  {% endcapture %}

  <li class="item">
    <a class="card" href="{% if item.url %}{{ item.url }}{% endif %}">
      <span class="info">
        {{ title }}
        {{ author }}
        {{ desc }}
      </span>
    </a>
  </li>

  {% endfor %}

{% when "meetups" %}

  {% for item in include.iter %}
  <li class="item{% if site.sem == item %} current{% endif %}">
    <a class="card {{ type }}" href="/meetups/{{ item }}">
      <span class="info {{ type }}">
        <h3 class="title {{ type }}">
          {{ site.data.semesters[item].words }}
        </h3>
      </span>
      <span class="date {{ type }}"> Link </span>
    </a>
  </li>
  {% endfor %}

{% endcase %}
</ul>
