<ul id="syllabus" class="listing calendar">

  {% if include.reversed %}
    {% assign posts = (site.posts | sort: 'date') | reverse %}
  {% else %}
    {% assign posts = (site.posts | sort: 'date') %}
  {% endif %}

  {% for meet in posts %}
    {% if meet.categories[1] == include.semester and (meet.tags contains "workshop" or meet.tags contains "lecture") %}
      <li class="item">
        <a class="card" href="{{ meet.url }}">
          <span class="info">
            <h3 class="title">
              {% if meet.url %}
                <i class="fa fa-link" aria-hidden="true"></i>
              {% endif %}
              {{ meet.title }}
            </h3>
            <p  class="desc">   {{ meet.tags[0] | capitalize }} </p>
          </span>
          <span class="date">
            <time datetime="{{ meet.date | date_to_xmlschema }}">{{ meet.date | date: "%m/%d/%y" }}</time>
          </span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
