<span class="dropdown-toggle" data-toggle="dropdown-{{ include.title | slugify }}">
    <i class="fa fa-list" aria-hidden="true"></i>
    {{ include.title }}
</span>
<ul class="dropdown" id="dropdown-{{ include.title | slugify }}">
    {% for item in include.list %}
    {% if item.url contains "index" %}
        {% continue %}
    {% endif %}
    <li>
        {% if item.url %}
            <a href="{{ item.url }}"> {{ item.title }} </a>
        {% else %}
            <a href="{{ include.url }}/{{ item }}"> {{ site.data.semesters[item].words }} </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>