<nav id="{{ include.name | slugify }}">
  <ul id="site-navigation">

    {% if include.name != "home" %}
    <li class="site-logo">
      <a href="{{ '/' | prepend: site.baseurl }}">
        <img src="{{ site.baseurl }}/assets/logo.png">
      </a>
    </li>
    {% endif %}

    {% for p in site.data.__nav__ %}

      <li class="page-link">

        {% case p.name %}
        {% when "This Semester" %}
          <a class="single" href="{{ p.url }}/{{ site.sem }}"> {{ p.name }} </a>
        {% when "Past Meetups" %}
          {% assign sems = site.array %}

          {% for post in site.posts %}

            {% unless
            sems contains post.categories[1] or
            post.categories[1] == site.sem %}

              {% assign sems = sems | push: post.categories[1] %}

            {% endunless %}

          {% endfor %}
          {% include __modules__/dropdown.html title=p.name url=p.url list=sems %}
        {% when "Hackpack" %}
          {% include __modules__/dropdown.html title=p.name url=p.url list=site.hackpack %}
        {% endcase %}
      </li>

    {% endfor %}

    {% if include.name != "home" %}
    <li class="github-link">
      <a href="http://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i>
        <span class="github"> {{ site.github_username }} </span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
