---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1.5em;

$heading:           #fff;
$text-color:        #fefefe;
$background-color:  #131c1f;
// $background-color: #405057;
// 3B768A
// 1E8579
// 68759E
// 735A8C
// 785585
$brand-color:      #ffc904;
//$brand-color:      #2a7ae2;
$brand-color-alt: #40caff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        960px;

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} + (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} + (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  display: flex;
  flex-direction: column;

  //@include media-query($on-laptop) {
  //  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  //  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  //  padding-right: $spacing-unit / 2;
  //  padding-left: $spacing-unit / 2;
  //}
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// Import partials from the `minima` theme.
@import "minima";
@import "home";
// @import "header";
@import "syllabus";
@import "calendar";
@import "nav";
@import "hackpack";

@import "post";
@import "text";
@import "split";