main {
  position: relative;
  z-index: 200;
}

.page-content {
  padding: $spacing-unit 0;
}

header.page-header,
header.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-bottom: 2px solid rgba(130, 130, 130, 0.32);
  h1, h2 {
    margin: 0;
  }
}

section {
  margin-bottom: 2 * $spacing-unit;
}

footer.page-footer,
footer.post-footer {
  margin-top: $spacing-unit;
  padding-top: $spacing-unit / 2;
  border-top: 2px solid rgba(130, 130, 130, 0.32);
}