---
title: Textbooks
---

<blockquote>
    These will suit all of your technical needs. Note we don't detail the edition of the texts. Just get the latest one that's out - that's what we'd do if possible. After all, it's a fast-paced field.
</blockquote>

<section id="general-section">
    <h2>General</h2>

    {% include __modules__/article.html
        type="textbooks"
        iter=site.data.textbooks.general %}
</section>

<section id="specific-section">
    <h2>Specific</h2>

    {% include __modules__/article.html
        type="textbooks"
        iter=site.data.textbooks.specific %}
</section>