---
title: Tutorials
---

<section id="moocs-section">
    <h2>MOOCS (Massively Open Online Courses)</h2>

    {% include __modules__/article.html
        type="tutorials"
        iter=site.data.tutorials.moocs %}
</section>

<section id="blogs-section">
    <h2>Blogs</h2>

    {% include __modules__/article.html
        type="tutorials"
        iter=site.data.tutorials.blogs %}
</section>

<section id="youtube-section">
    <h2>YouTube Channels</h2>

    {% include __modules__/article.html
        type="tutorials"
        iter=site.data.tutorials.youtube %}
</section>