---
layout: base
---

{% include modules/alert-mission.html %}


<h1 class="sigai-section-title"> Groups at SIGAI </h1>
<div class="card-deck pb-4">
	{% include modules/card-subsite.html subsite=site.data.subsites.intelligence %}
	{% include modules/card-subsite.html subsite=site.data.subsites.data-science %}
</div>

<h1 class="sigai-section-title"> Resources by SIGAI </h1>
<div class="card-deck pb-4">
	{% include modules/card-subsite.html subsite=site.data.subsites.course %}
	{% include modules/card-subsite.html subsite=site.data.subsites.hackpack %}
</div>