---
layout: base
---
{% capture slides %}{{ page.links.slide }}{% endcapture %}
{% capture event  %}{{ page.links.event }}{% endcapture %}

<div class="row">
  <div class="col-12 pb-5 mx-auto">
    <h1 class="h1"> <strong>{{ page.type | capitalize }}</strong>: {{ page.title }} </h1> <hr>
    <nav class="navbar mb-3">
      <p class="navbar-text m-0">Given on {{ page.date | date: "%b %d, %Y" }}</p>

      <div class="d-flex align-self-center">
        {% unless slides == "" %}
        <a class="navbar-item nav-link" href="https://docs.google.com/presentation/d/{{ page.links.slide }}"> Slides</a>
        {% endunless %}

        {% unless event == "" %}
        <a class="navbar-item nav-link" href="https://www.facebook.com/events/{{ page.links.event }}"> Event </a>
        {% endunless %}

        <a class="nav-item nav-link" href="{{ site.meta.sign_in_url }}"> Sign-In </a>
      </div>

      <div class="pagination align-self-end">
        <a class="nav-item nav-link align-self-start" href="{{ page.previous.url }}" aria-label="Previous">
          <i class="fa fa-chevron-left"> </i>
        </a>

        <a class="nav-item nav-link" href="{{ page.next.url }}" aria-label="Next">
          <i class="fa fa-chevron-right"> </i>
        </a>
      </div>
    </nav>
    
    <div class="alert alert-dark">
      <strong> <em>Summary:</em> </strong>
      {{ page.excerpt }}
    </div>
    
    {% unless slides == "" %}
    <iframe src="https://docs.google.com/presentation/d/{{ page.links.slide }}/embed?start=false&loop=true" width="100%" height="51.7%" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" class="rounded"></iframe>
    {% endunless %}
    
    {{ content }}
  </div>
</div>
