---
layout: default
iter:   weekly
---

<h1> {{ site.data.semesters[page.sem].words }} </h1>

<h2> Syllabus </h2>
{% include __modules__/calendar.html reversed=false semester=page.sem %}

<br />

<br />

<h2> Weekly Video &amp; Text </h2>

<ul class="listing {{ layout.iter }}">
{% for week in page.weekly %}
  <li class="item">
    <div class="card">
      <span class="links">
        <a href="{{ site.data.videos[item.video].url }}">
          <span class="info weekly">
            <h3 class="title weekly">
              {{ site.data.videos[week.video].title | escape }}
            </h3>
            {% assign desc = site.data.videos[week.video].desc %}
            {% if desc %}
              <p class="desc weekly"> {{ desc | remove: '"' }} </p>
            {% endif %}
          </span>
        </a>
        <a href="{{ site.data.papers[item.paper].url }}">
          <span class="info weekly">
            <h3 class="title weekly">
              {{ site.data.papers[week.paper].title | escape }}
            </h3>
            {% assign desc = site.data.papers[week.paper].desc %}
            {% if desc %}
              <p class="desc weekly"> {{ desc | remove: '"' }} </p>
            {% endif %}
          </span>
        </a>
      </span>
      <span class="date weekly"> {{ week.date | date: "%x" }} </span>
    </div>
  </li>
{% endfor %}
</ul>
