---
layout: page
iter:   weekly
---

<section class="syllabus-section">
  <h3> Syllabus </h3>
  {% include __modules__/calendar.html reversed=false semester=page.sem %}
</section>

<section class="weekly-section">
  <h3> Weekly Video &amp; Text </h3>

  <ul class="listing weekly">
  {% for week in page.weekly %}
    {% assign video = site.data.videos[week.video] %}
    {% assign paper = site.data.papers[week.paper] %}
    <li class="item">
      <div class="card">
        <span class="links">
          <a href="{{ video.url }}">
            <span class="info">
              <h3 class="title">
                {% if video.url %}
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                {% endif %}
                {{ video.title | escape }}
              </h3>
              {% assign desc = video.desc %}
              {% if desc %}
                <p class="desc"> {{ desc | remove: '"' }} </p>
              {% endif %}
            </span>
          </a>
          <a href="{{ paper.url }}">
            <span class="info">
              <h3 class="title">
                {% if paper.url %}
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                {% endif %}
                {{ paper.title | escape }}
              </h3>
              <p class="author">
                by {{ paper.author | escape }}
              </p>
              {% assign desc = paper.desc %}
              {% if desc %}
                <p class="desc"> {{ desc | remove: '"' }} </p>
              {% endif %}
            </span>
          </a>
        </span>
        <span class="date">
          <time datetime="{{ week.date | date_to_xmlschema }}">{{ week.date | date: "%m/%d/%y" }}</time>
        </span>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>