<div class="row pb-5">
  {% for item in include.list1 %}
  <div class="col-lg-4 col-md-6 col-12 mt-3 mb-3 d-flex">
    <div class="card card-dark" style="flex: 1;">
      {% if include.type1 == "papers" %}
      <div class="card-header justfiy-content-start">
        <div class="btn-group">
          {% for diff in item.tags %}
          <div class="btn btn-secondary btn-sm disabled">
            {{ site.data.hackpack_papers.shorthand[diff] }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}</h4>
        {% if item.author %}
          <h6 class="card-subtitle text-muted">
            <span class="text-dark"> by </span> {{ item.author }}
          </h6>
        {% endif %}
        {% if item.desc %}
          <p class="card-text pt-2"> {{ item.desc }} </p>
        {% endif %}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div class="btn btn-sm btn-{{ include.type1 }}"></div>
        <a class="btn btn-sm btn-hackpack-link" href="//{{ item.link }}"></a>
      </div>
    </div>
  </div>
  {% endfor %}
  
  {% if include.list2 %}
    {% for item in include.list2 %}
    <div class="col-lg-4 col-md-6 col-12 mt-3 mb-3 d-flex">
      <div class="card card-dark" style="flex: 1;">
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          {% if item.author %}
          <h6 class="card-subtitle text-muted">
            <span class="text-dark"> by </span> {{ item.author }}
          </h6>
          {% endif %}
          {% if item.desc %}
          <p class="card-text pt-2"> {{ item.desc }} </p>
          {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div class="btn btn-sm btn-{{ include.type2 }}"></div>
          <a class="btn btn-sm btn-hackpack-link" href="//{{ item.link }}"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
